[2018-09-12 20:07] eudaldgr commented on #644
And this issue it's not closed, i don't know why someone close this without knowing what happens before, but it's not fair

[2018-09-12 20:09] eudaldgr commented on #644
@lewisgoddard this isn't a UX hint

[2018-09-12 21:15] btkostner commented on #644
I'll take a look at the logs tonight when I get home and report back

[2018-09-14 13:32] decathorpe opened #645 "validate appstream files with libappstream-glib too"
I'm not sure this is the right project to request this because I couldn't find the relevant validation code, but here goes.

Currently `houston-ci` uses `appstreamcli` to validate appstream files, AFAICT. However, the most-used "Software Centers" (`gnome-software` by default on ubuntu, fedora, etc.). The two implementations have slight differences in how they handle errors, and how strict they are

[2018-09-14 15:04] btkostner commented on #645
This is the correct repo! Relevant code here: https://github.com/elementary/houston/blob/v2/src/worker/task/appstream/validate.ts. Should be pretty easy to add.

[2018-09-17 22:58] peteruithoven opened #646 "Wiki: Packaging branches #2"
It's become clear that I still didn't understand how the packaging branches work. I'd like to add something like the following at the end of the [Before You Publish > Packaging](https://github.com/elementary/houston/wiki/Before-You-Publish#packaging) chapter.

[2018-09-18 20:06] donadigo opened #647 "Show recently rejected / accepted apps on reviewer dashboard"
Right now, it's kind of hard to follow when an app gets approved or rejected on the review dashboard. It would be nice if a reviewer could see all the recently rejected / approved apps on the dashboard.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/63545050-show-recently-rejected-accepted-apps-on-reviewer-dashboard?utm_campaign=pl

[2018-09-18 20:09] donadigo opened #648 "Show reviewer that took action on an app"
In addition to https://github.com/elementary/houston/issues/647, this would help reviewers communicate more easily on review verdicts, right now they have to ask who did approve / reject a specific app.

[2018-09-18 21:19] btkostner commented on #648
I think this is counter to what we want. Ideally the developer should not care or even know what developer reviewed it, but that _elementary_ reviewed it.

@danrabbit, @cassidyjames thoughts?

[2018-09-18 21:21] donadigo commented on #648
@btkostner sorry, I think I might have worded this a wrongly. What I meant, is that this info would be only available to reviewers, not to the actual developers, only on the reviewer dashboard.

[2018-09-18 21:37] btkostner commented on #648
In that case, we will also need some way to see past reviews

[2018-09-19 01:55] btkostner commented on #644
Sorry for the delay. I looked in the logs and it seems that elements was added to the database, so the problem is probably between GitHub and houston identifing what repos you have access to.

In the mean time, if you want to publish your app, I can manually press the button for you.

[2018-09-20 00:04] peteruithoven opened #649 "Previous update description shown?"
On eOS Juno, in Appcenter I see the following update for Videos:
![screenshot from 2018-09-20 01-56-26](https://user-images.githubusercontent.com/523210/45788091-cf9bed00-bc78-11e8-92b3-34fc0c66a35c.png)

But this description seems to be the release description of [0.2.6](https://github.com/elementary/videos/blob/master/data/io.elementary.videos.appdata.xml.in#L70-L77) instead of [2.6.1](https://g

[2018-09-20 02:08] btkostner commented on #649
This is most likely an issue with the elementary appstream data package, where it does not include the 2.6.1 appstream changes.

I'll take to Cody and see if we can automate the generation process for that package. In the mean time, because Videos is not built with houston, I'm going to close this issue. The repo for this data is here btw: https://github.com/elementary/appstream-data

[2018-09-20 02:08] #649 closed

[2018-09-20 08:58] eudaldgr commented on #644
yeah! press the button for me, but if you can, delete the other published app with elements name. i changed the ownership of the repository, and there will need only one elements app on appcenter. thanks

[2018-09-21 03:35] cassidyjames opened #652 "Add developer newsletter opt-in to terms page"
So developers can optionally opt into receiving low-volume emails from us, I.e. developer tips articles and maybe super occasional surveys

[2018-09-27 21:35] SixFingeredAmish commented on #617
Yes!

[2018-09-29 15:14] eudaldgr commented on #644
I have added a new repo to the organization account, and seems to be not displaying the new one also, maybe this isn't for the elements repo. thank you very much!

[2018-09-29 18:06] btkostner commented on #644
@eudaldgr now that I think about it, I think @nathandyer had a similar issue when we were in beta. If I remember correctly it was because of GitHub and the way organization visibility worked. Can you try making yourself visible on the organization, log out of houston, and log back in.

https://github.com/orgs/FreeeRadicals/people

[2018-10-01 15:56] bilelmoussaoui commented on #436
@btkostner  any new on this? We need to publish FeedReader here https://github.com/jangernert/FeedReader/issues/494

[2018-10-02 03:33] RMcNeely opened #654 "Outdated dependencies and security errors"
I'm just starting hacking on Houston and I notice that there are a number of outdated critical issues that should be updated. Looking quickly it should just be a dependency bump for several packages but before I submit a PR I wanted to ask if there was any testing of Houston itself, I don't see anything in the wiki.

[2018-10-02 04:18] btkostner commented on #654
There are quite a lot of package updates, I know. This is mostly because the current master branch hasn't really been touched or updated in a while. While it has some tests, the test coverage is really low, which makes it a pain to double check everything still works.

Most of the new work is in the `v2` branch.

[2018-10-02 04:42] RMcNeely commented on #654
Good to know, I'll check that branch out.

On Tue, Oct 2, 2018, 12:18 AM Blake Kostner <notifications@github.com>
wrote:

[2018-10-02 14:57] FernandWTF opened #655 "Disable trackpad while mouse is plugged in"
Hey, I would like very much if you guys can do the functionality that I mention in the title, neither with dconf or setttings am able to disable my trackpad when my laptop has a mouse connected, the current solution that I have is use this code ``xinput disable 15`` on the startups scripts, fifteen which is the id that the system give to my trackpad. Amazing job btw <3.

[2018-10-02 15:03] btkostner commented on #655
This is the wrong repository for that issue. Please file an issue in the switchboard plugin repository here: https://github.com/elementary/switchboard-plug-mouse-touchpad

[2018-10-02 15:03] #655 closed

[2018-10-02 16:37] btkostner opened #656 "Build refs not as expected"
When building https://github.com/geigi/cozy version 0.6.3, we find two builds (correct), but both builds include each packaging branch.

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64171880-build-refs-not-as-expected?utm_campaign=plugin&utm_content=tracker%2F27692469&utm_medium=issues&utm_source=github)** We accept bounti

[2018-10-04 22:17] Timecraft opened #658 "Houston CI fails even though few changes were made."
A strange thing, ever since I made branches [deb-packaging](https://github.com/Timecraft/notifier/tree/deb-packaging) and [deb-packaging-loki](https://github.com/Timecraft/notifier/tree/deb-packaging-loki), Notifier has been failing in Houston CI even though there are no changes from `deb-packaging` and `v2.1.0`, only a minor difference between `deb-packaging-loki` and `v2.1.0`.

[Here is a link t

[2018-10-04 23:56] #658 closed

[2018-10-05 16:23] codygarver opened #659 "Don't edit packaging"
This is bad practice, it's creating non reproducible builds, and general badness.

This error shouldn't be possible:
`dpkg-source: error: source package has two conflicting values - maya-calendar and io.elementary.calendar`

Houston stuck the string `io.elementary.calendar` in there somewhere at some point.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.b

[2018-10-05 16:31] codygarver commented on #659
Maybe the bug is Houston should be getting the changelog package name for the bump from `Source: my-package`, the first line of `debian/control`

[2018-10-05 16:32] codygarver commented on #659
I think if I override the `name-domain` it's gonna fail for another reason, the appdata is `io.elementary.calendar` not `maya-calendar`.

[2018-10-05 16:37] btkostner commented on #659
@codygarver I'm looking at the `debian/control` file for some checks, but after a huge pain trying to parse it, I just settled on a regex. I could possibly use the regex to find that name, but could also fail when there are multiple packages.

Any reason not to change the package to `io.elementary.calendar` to match the desktop and appstream info?

[2018-10-05 16:43] codygarver commented on #659
@btkostner `Source:` is a unique line in `debian/control` and it's ALWAYS the 1st line, it should be easy and reliable to read.

The reason not to rename all the packages affected by this right now is because it's not part of the beta period fixes and I don't want to create new problems because CI is telling me it's a good time. I plan on gradually transitioning the package names and it's gonna ta

[2018-10-06 14:56] panosx2 opened #661 "Failed to build"
what is went wrong? how can i fix it?

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64373429-failed-to-build?utm_campaign=plugin&utm_content=tracker%2F27692469&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F27692469&utm_me

[2018-10-07 02:02] btkostner commented on #661
Can we get a link to the repository you are trying to build?

[2018-10-07 11:33] panosx2 commented on #661
i somehow managed to solve it. Now i have the "Incorrect desktop file icon value" issue.
(my repository: [https://github.com/panosx2/brightness)])

[2018-10-08 15:36] btkostner commented on #661
The icons, desktop file, appstream file, and pretty much anything you install should follow RDNN, which for you would be `com.github.panosx2.brightness`

[2018-10-08 15:36] #661 closed

[2018-10-19 03:50] btkostner opened #663 "Internal error if repo does not include debian control file"
An internal error occures when we try to build a repo without a debian control file. This should be a written out friendly error instead.

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64959522-internal-error-if-repo-does-not-include-debian-control-file?utm_campaign=plugin&utm_content=tracker%2F27692469&utm_medium=issues&ut

[2018-10-19 03:56] btkostner commented on #511
Causing https://github.com/rkoesters/xkcd-gtk/issues/45 for version 1.0.0

[2018-10-20 20:15] cassidyjames commented on #571
We were hit again by an issue that broke builds in appcenter-web: https://github.com/elementary/appcenter-web/commit/5211529f77fa383ada251f858615b7bcc29c932b#diff-bb395e7f937561bf67ebfcd89b29dd89R7

[2018-10-20 21:52] artemanufrij opened #665 "[FR] Show last released date on dashboard"
It would be useful, if last released date would be shown on:
https://developer.elementary.io/dashboard

[2018-10-20 21:59] btkostner commented on #571
To be clear, that was not an issue with a protocol, but urls that point to files that don't exist.

[2018-10-22 21:32] greenkeeper[bot] opened #667 "An in-range update of @types/bull is breaking the build 🚨"
## The devDependency [@types/bull](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `3.3.20` to `3.4.0`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2F%40types%2Fbull-3.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/bull is a devDepend

[2018-10-22 23:48] greenkeeper[bot] opened #668 "An in-range update of sqlite3 is breaking the build 🚨"
## The devDependency [sqlite3](https://github.com/mapbox/node-sqlite3) was updated from `4.0.2` to `4.0.3`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fsqlite3-4.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sqlite3 is a devDependency of this project. It **mi

[2018-10-23 13:50] peteruithoven opened #669 "debootstrap failed error"
I'm seeing build fail for [elementary/files](https://travis-ci.org/elementary/files/builds/445123661?utm_medium=notification&utm_source=email) and [elementary/appcenter](https://travis-ci.org/elementary/appcenter) with the following error:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/65138997-debootstrap-failed-error?utm_

[2018-10-23 15:19] btkostner commented on #669
We know. We are working on it.

[2018-10-25 15:58] btkostner commented on #511
:tada: This issue has been resolved in version 6.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@elementaryos/houston)
- [GitHub release](https://github.com/elementary/houston/releases/tag/v6.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-25 16:16] btkostner commented on #669
Fixed in cf0069bbf10095a1a27acdff291aabdccd6b4c0d

[2018-10-25 16:16] #669 closed

[2018-10-29 21:17] #668 closed

[2018-10-29 21:51] #656 closed

[2018-10-29 22:07] btkostner commented on #656
:tada: This issue has been resolved in version 6.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@elementaryos/houston)
- [GitHub release](https://github.com/elementary/houston/releases/tag/v6.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-30 00:45] nathandyer opened #673 "Houston CI doesn't seem to be able to build Vocal"
I'm not sure if it's something dumb that I'm doing on my side, or if it's a problem with Houston CI, but I can't seem to make it build Vocal correctly. I've tried using the .travis.xml file directly from the Houston CI post, and have also tried modifying it slightly to mirror the .travis.xml files of other projects that I know are building on Houston CI, but none of them build for me. They all see

[2018-10-31 21:07] alcinnz opened #674 "Houston CI fails to run"
The Houston CI builds for my app fail to even get to running my build scripts, complaining about missing files extremely early on.

[logfile](https://api.travis-ci.com/v3/job/153783700/log.txt)

[2018-10-31 21:36] btkostner commented on #674
Same as https://github.com/elementary/houston/issues/669. Already fixed. Just needs rebuild.

[2018-10-31 21:36] #674 closed

[2018-10-31 21:48] cjfloss opened #675 "Houston CI: Internal error while running"
[code]

[2018-11-01 03:16] btkostner commented on #675
Update your `travis.yml` file from [the wiki](https://github.com/elementary/houston/wiki/Continuous-Integration#standard-travisyml).

Specifically, the install line should be:
[code]

[2018-11-01 03:16] #675 closed

[2018-11-01 07:01] greenkeeper[bot] opened #676 "An in-range update of file-type is breaking the build 🚨"
## The dependency [file-type](https://github.com/sindresorhus/file-type) was updated from `10.2.0` to `10.3.0`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Ffile-type-10.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

file-type is a direct dependency of this pro

[2018-11-01 12:51] btkostner commented on #676
Greenkeeper lies

[2018-11-01 12:51] #676 closed

[2018-11-03 04:14] greenkeeper[bot] opened #677 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.10.6` to `15.10.7`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fsemantic-release-15.10.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semantic-rele

[2018-11-04 17:33] #677 closed

[2018-11-04 18:01] btkostner commented on #673
This looks like a basic case of incorrect dependencies in your debian control file. I would try installing Juno (in a vm) and then try installing all of the listed dependencies for your Juno build. One of them probably does not exist, or is renamed, on Juno.

[2018-11-04 18:01] #673 closed

[2018-11-06 18:54] greenkeeper[bot] opened #679 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.10.7` to `15.10.8`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fsemantic-release-15.10.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semantic-rele

[2018-11-14 18:04] greenkeeper[bot] opened #681 "An in-range update of jsonwebtoken is breaking the build 🚨"
## The dependency [jsonwebtoken](https://github.com/auth0/node-jsonwebtoken) was updated from `8.3.0` to `8.4.0`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fjsonwebtoken-8.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jsonwebtoken is a direct dependency of t

[2018-11-25 20:46] ztefn opened #685 "Appstream validate fails"
See: https://github.com/ztefn/haguichi/issues/19

_AppCenter tried to run `appstreamcli validate` on com.github.ztefn.haguichi and
received the following errors:_

[code]
I'm using standard the tag generated by using https://hughsie.github.io/oars/generate.html
`<content_rating type="oars-1.1" />`

So what exactly is the problem here???

[2018-11-25 20:55] btkostner commented on #685
Related to: https://github.com/elementary/houston/issues/641

[2018-11-25 23:31] santileortiz opened #686 "Built packages are uploaded to wrong repo"
I just released version 0.9.5 of [Iconoscope](https://github.com/santileortiz/Iconoscope). After updating to the latest version with App Center, the version actually running is 0.1.4 not 0.9.5.

The content of the installed .deb package `/var/cache/apt/archives/com.github.santileortiz.iconoscope_0.9.5_amd64.deb`, is for version 0.1.4, even though the name states it should be 0.9.5.

I checked that

[2018-11-26 00:58] btkostner commented on #686
For the travis issues:
1) You should have your `.travis.yml` in all of your branches so you test all PRs and commits
2) Your travis file is out of date. Take a look and copy from here: https://github.com/elementary/houston/wiki/Continuous-Integration#standard-travisyml

[2018-11-26 02:13] btkostner commented on #686
As for the release, houston made a 0.9.5 version for Loki and Juno (because you have the two packaging branches). When you make a release on github, it is against the master branch. So when releasing, the files got merged like so:

Loki: `0.9.5` tag (from master) < `deb-packaging-loki` branch
Juno: `0.9.5` tag (from master) < `deb-packaging-juno` branch

Considering that the Loki version hasn't be

[2018-11-26 02:13] btkostner commented on #686
Considering that it looks like Houston is doing the correct thing, I'm going to close this issue. Feel free to keep commenting if you need help updating the repo.

[2018-11-26 16:35] santileortiz commented on #686
Thanks for your help!, I actually was unsure about what happened with that Loki branch, I didn't want to make a release of 0.9.5 as I'm away from my test machine with Loki. I thought it would keep releasing version 0.1.4 there because that's the latest reachable tag from that branch (the one `git describe --tags` would show).

Is there any way to get notifications (maybe create a bug report?), whe

[2018-11-26 17:19] cassidyjames opened #687 "Add test for multiple "default" screenshots"
As seen in https://github.com/bcedu/ValaSimpleHTTPServer/issues/8

[2018-11-26 17:50] btkostner commented on #686
The packaging branches will always be used (will always release to that distro) if they exist when you press the release button. There is no way to hold a distro at a specific version, except for deleting the packaging branch.

Sadly, there is no way to get a notification about when the travis file needs to be updated. Luckily, it should not happen often. The last update was due to a dependency of

[2018-11-26 18:01] santileortiz commented on #686
I still don't understand why I am getting version 0.1.4 in Juno, how are release branches merged together? is the `deb-packaging-loki` branch replacing the content of `deb-packaging-juno`?

I don't think I understand how release branches work. I thought what Houston did was clone `deb-packaging-loki` and package that for Loki, then clone `deb-packaging-juno` and package that for Juno. I wasn't awa

[2018-11-26 18:12] btkostner commented on #686
I see what you are saying now. It seems the two packages where published to the incorrect distro repository. I'll try to debug what caused that.

Houston merges *packaging* branches with the *release* tag. That's why the *packaging* branches should only contain *packaging* and distro specific changes while the *master* branch contains the code.

[2018-11-27 02:20] santileortiz commented on #686
Alright I think I had misunderstood the documentation about release branches. I will delete all code from the Juno and Loki branches. Do you think making a new release after this will fix the issue?, if so, are you using my repository to debug the issue, or can I make these changes now?

[2018-11-27 04:08] btkostner commented on #686
Don't do a release yet please. I think there might still be a problem with publishing. I'll look into it and report back when I think it's safe for a new release.

[2018-11-29 20:21] cassidyjames opened #690 "Require release information"
I thought this existed, but I've come across a couple of updates in the reviewer dashboard that lacked AppStream release information for the release being published. We should fail and file an issue that release notes are always required for the latest release

[2018-12-01 13:54] decathorpe commented on #645
Any progress on this?

I'd submit a PR for this, but I've never used JS / TypeScript before.

[2018-12-01 19:40] btkostner commented on #645
No work has been made for this yet. Code is here if you want to work on it though: https://github.com/elementary/houston/blob/v2/src/worker/task/appstream/validate.ts#L53

[2018-12-03 03:37] greenkeeper[bot] opened #693 "An in-range update of file-type is breaking the build 🚨"
## The dependency [file-type](https://github.com/sindresorhus/file-type) was updated from `10.5.0` to `10.6.0`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Ffile-type-10.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

file-type is a direct dependency of this pro

[2018-12-03 11:56] greenkeeper[bot] opened #694 "An in-range update of sanitize-html is breaking the build 🚨"
## The dependency [sanitize-html](https://github.com/punkave/sanitize-html) was updated from `1.19.1` to `1.19.2`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fsanitize-html-1.19.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sanitize-html is a direct dependency

[2018-12-03 19:49] greenkeeper[bot] opened #695 "An in-range update of @types/bull is breaking the build 🚨"
## The devDependency [@types/bull](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `3.4.3` to `3.5.0`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2F%40types%2Fbull-3.5.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/bull is a devDepende

[2018-12-03 19:55] greenkeeper[bot] opened #696 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.12.3` to `15.12.4`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fsemantic-release-15.12.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semantic-rele

[2018-12-04 04:02] greenkeeper[bot] opened #697 "An in-range update of nock is breaking the build 🚨"
## The devDependency [nock](https://github.com/nock/nock) was updated from `10.0.2` to `10.0.3`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fnock-10.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nock is a devDependency of this project. It **might not break yo

[2018-12-04 08:32] geigi commented on #686
A new version of cozy was just published and the Juno package is missing a dependency only the juno branch contains (`python3-peewee`):
https://github.com/geigi/cozy/blob/deb-packaging-juno/debian/control
Is this related to this issue (build packages are uploaded to wrong repo)?

This is the output for the dependencies after installing from AppCenter:

[code]

Cozy issue for reference: https://git

[2018-12-04 15:56] btkostner commented on #686
@geigi Yes. Looks like it's the same issue.

[2018-12-05 15:55] #681 closed

[2018-12-05 15:55] #693 closed

[2018-12-05 15:55] #694 closed

[2018-12-05 15:55] #695 closed

[2018-12-05 15:55] #696 closed

[2018-12-05 15:55] #697 closed

[2018-12-08 12:00] ztefn commented on #685
Any news on this? This issue is blocking the 1.141.0 release for elementary...

[2018-12-13 20:27] greenkeeper[bot] opened #699 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.12.14` to `10.12.15`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2F%40types%2Fnode-10.12.15).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a d

[2018-12-15 13:42] greenkeeper[bot] opened #700 "An in-range update of ava is breaking the build 🚨"
## The devDependency [ava](https://github.com/avajs/ava) was updated from `1.0.0-rc.2` to `1.0.1`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fava-1.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ava is a devDependency of this project. It **might not break you

[2018-12-17 00:46] naaando opened #701 "Error while running Houston's CI on Docker"
Error while running on [elementary juno Docker images](https://hub.docker.com/r/elementary/docker)

Setup process

[code]

Output
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/67606854-error-while-running-houston-s-ci-on-docker?utm_campaign=plugin&utm_content=tracker%2F27692469&utm_medium=issues&utm_source=github)** We acce

[2018-12-18 22:56] #699 closed

[2018-12-18 22:58] btkostner commented on #701
Out of question, why are you running houston in a docker container? It already containerizes when building the code. And you should not need to install the `DEPENDENCY_PACKAGES` before hand as houston will do that for you from the debian packaging.

[2018-12-19 04:04] naaando commented on #701
Oh, ofc, I suspected of this today when it launched a container while running out of docker, so that is it, thanks for the help Blake, Houston isn't that documented, so I didn't understood how it works at all.

[2018-12-19 16:01] btkostner commented on #701
@naaando It's all good. Glad I could help!

[2018-12-19 16:01] #701 closed

[2018-12-19 17:14] greenkeeper[bot] opened #704 "An in-range update of knex is breaking the build 🚨"
## The dependency [knex](https://github.com/tgriesser/knex) was updated from `0.16.2` to `0.16.3`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fknex-0.16.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

knex is a direct dependency of this project, and **it is very

[2018-12-23 20:38] rupertdev commented on #624
Still have a PR for this, looks like bounty has increased, would love to finish it up :)

[2019-01-02 22:15] greenkeeper[bot] opened #705 "An in-range update of nock is breaking the build 🚨"
## The devDependency [nock](https://github.com/nock/nock) was updated from `10.0.5` to `10.0.6`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fnock-10.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nock is a devDependency of this project. It **might not break yo

[2019-01-04 22:38] cassidyjames opened #706 ""Contact" URL is said to be invalid"
Am I missing something? This should be a valid type: https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html#tag-url

See: https://travis-ci.org/cassidyjames/dippi/builds/475461560

[2019-01-14 18:40] cassidyjames opened #707 "Ensure GSettings are installed to correct path"
It looks like we're not enforcing that GSettings are installed to the correct path; for example, Bookmark Manager was accidentally installing to an example path:

https://github.com/bartzaalberg/bookmark-manager/blob/1.5.0/data/com.github.bartzaalberg.bookmark-manager.gschema.xml#L2:10

We should have a test the ensures any GSettings are scoped beneath the correct RDNN.

[2019-01-14 18:41] cassidyjames commented on #707
https://github.com/bartzaalberg/bookmark-manager/issues/45

[2019-01-18 18:24] cassidyjames commented on #570
If this should be a new issue, I can file it there. But it appears we're not actually checking for the presence of OARS data afaict, but only validating it if it exists. However, we now require it for all apps in AppCenter and should treat it like any other required component, where we fail without it and file issues with links to documentation.

[2019-01-24 13:48] btkostner commented on #686
I spent about a week debugging Houston itself and then checking our repository server config. I found nothing out of the ordinary. I hoped taking a bit of time off this issue would help and I could find the issue after but still no luck. Sad to say, I have no idea where the issue is occurring.

[2019-01-25 08:31] geigi commented on #686
Oh boy, I see... Thanks for your effort. Is there anything that is different in our packages or repos compared to most others? The only thing which comes to my mind are different required packages for the Loki and Juno branch...

[2019-01-25 18:22] btkostner commented on #686
Most repos use different software, but they all form the correct file tree. It might be a bug in aptly but I highly doubt it. I can double check that when I get time though.

[2019-01-27 20:57] cassidyjames opened #709 "Require "provides" in AppStream data"
It looks like this might be preventing https://github.com/bartzaalberg/recipes/ from showing up in AppCenter?

[2019-01-27 21:15] cassidyjames commented on #709
It looks like this (probably?) isn't why it's not showing up; other apps also lack it and show up fine. Regardless, if it's best practice, we should still at least warn on its absence.

https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html#tag-provides

[2019-01-29 15:53] #700 closed

[2019-01-29 16:10] btkostner commented on #700
:tada: This issue has been resolved in version 6.0.10 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@elementaryos/houston)
- [GitHub release](https://github.com/elementary/houston/releases/tag/v6.0.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-29 16:35] geigi commented on #686
Thanks :) Do you think removing support for Loki would solve this issue? I'd love to support Loki but if we can't find a solution I'd rather only support Juno...

[2019-01-29 16:57] btkostner commented on #686
@geigi Removing your loki branch should fix the issue

[2019-02-05 12:42] greenkeeper[bot] opened #711 "An in-range update of ava is breaking the build 🚨"
## The devDependency [ava](https://github.com/avajs/ava) was updated from `1.2.0` to `1.2.1`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fava-1.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ava is a devDependency of this project. It **might not break your pro

[2019-02-08 10:05] peteruithoven commented on #544
Haven't we implemented this already with supporting `deb-packaging-[version]` branches?
https://github.com/elementary/houston/wiki/Before-You-Publish#packaging

[2019-02-08 10:06] phw commented on #544
Yes, this sounds exactly like the solution to this issue.

[2019-02-08 15:48] btkostner commented on #544
Yes. Closed.

[2019-02-08 15:48] #544 closed

[2019-02-12 07:01] bartzaalberg commented on #709
I can confirm it's not the issue in Recipes. Provides tag has been added and released but it's still not shown in AppCenter.

[2019-02-12 13:17] btkostner commented on #709
https://appstream.elementary.io/appcenter/html/bionic/main/issues/com.github.bartzaalberg.recipes.html

I'll look into it when I get time

[2019-02-12 18:10] greenkeeper[bot] opened #714 "An in-range update of nodegit is breaking the build 🚨"
## The dependency [nodegit](https://github.com/nodegit/nodegit) was updated from `0.24.0` to `0.24.1`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fnodegit-0.24.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nodegit is a direct dependency of this project, and **i

[2019-02-14 19:05] greenkeeper[bot] opened #717 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `11.9.3` to `11.9.4`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2F%40types%2Fnode-11.9.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDepe

[2019-02-21 17:00] greenkeeper[bot] opened #721 "An in-range update of commitizen is breaking the build 🚨"
## The devDependency [commitizen](https://github.com/commitizen/cz-cli) was updated from `3.0.5` to `3.0.6`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fcommitizen-3.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

commitizen is a devDependency of this project.

[2019-02-24 20:05] DeybisMelendez opened #722 "Add support for Godot project"
Many people want to publish games on AppCenter. We need support to Godot projects.

[2019-02-26 01:52] greenkeeper[bot] opened #723 "An in-range update of @types/koa-router is breaking the build 🚨"
## The devDependency [@types/koa-router](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `7.0.39` to `7.0.40`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2F%40types%2Fkoa-router-7.0.40).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/koa-r

[2019-03-04 08:06] bartzaalberg commented on #709
Sorry, guys I think I found the error. Until now i didn't notice the .svg error in the link @btkostner send. I checked the files locally and they are also broken here so it's my problem. I will create a new icon and repush the app. That should probably fix it. When it works I will close this issue.

[2019-03-04 16:11] greenkeeper[bot] opened #724 "An in-range update of tslint-consistent-codestyle is breaking the build 🚨"
## The devDependency [tslint-consistent-codestyle](https://github.com/ajafff/tslint-consistent-codestyle) was updated from `1.15.0` to `1.15.1`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Ftslint-consistent-codestyle-1.15.1).

This version is **covered** by your **current version range** and after updating it in your project **the build fail

[2019-03-04 16:16] btkostner commented on #709
@bartzaalberg Houston just checks if the file exists. It does no svg or xml parsing to ensure the file is an image, valid, or even if it has data.

[2019-03-04 16:36] bartzaalberg commented on #709
Ah ok

[2019-03-04 21:12] rupertdev commented on #624
@danrabbit what's the deal with this task?

[2019-03-04 21:39] btkostner commented on #624
@rupertdev I've been doing a lot of _non_ houston related things lately, like weblate and infrastructure tasks. I've also been prioritizing fixing issues with the testing / releasing process over adding new features.

Speaking of GitLab. I realized that in most of the code I wrote, I made a huge assumption that each service would have a single API endpoint. This _mostly_ works for GitHub, but with

[2019-03-05 03:21] matteeyah commented on #624
@btkostner You could implement support for GitLab.com first, then add support for self-hosted instances in a later iteration. I think the bulk of people wanting to add their apps to the AppCenter will have their code hosted on .com.

[2019-03-05 15:20] greenkeeper[bot] opened #725 "An in-range update of file-type is breaking the build 🚨"
## The dependency [file-type](https://github.com/sindresorhus/file-type) was updated from `10.8.0` to `10.9.0`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Ffile-type-10.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

file-type is a direct dependency of this pro

[2019-03-05 17:44] bartzaalberg commented on #709
This fixed my issue. Should the ticket stay open or can it be closed?

[2019-03-05 18:02] btkostner commented on #709
@bartzaalberg 	Keep it open. It's useful to have this as a test in houston.

[2019-03-06 06:52] greenkeeper[bot] opened #726 "An in-range update of yargs is breaking the build 🚨"
## The dependency [yargs](https://github.com/yargs/yargs) was updated from `13.2.1` to `13.2.2`.

🚨 [View failing branch](https://github.com/elementary/houston/compare/v2...elementary:greenkeeper%2Fyargs-13.2.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a direct dependency of this project, and **it is very

[2019-03-06 21:26] #705 closed

[2019-03-06 21:26] #711 closed

[2019-03-06 21:26] #714 closed

[2019-03-06 21:26] #717 closed

[2019-03-06 21:26] #721 closed

[2019-03-06 21:26] #723 closed

[2019-03-06 21:26] #724 closed

[2019-03-06 21:26] #725 closed

[2019-03-06 21:26] #726 closed

[2019-03-06 21:27] btkostner commented on #624
Whoops. Did not mean to close

[2019-03-11 08:32] ryonakano opened #727 "Houston could not recognize localized screenshots"
Recently I found developers can provide localized screenshots to AppCenter in https://github.com/elementary/appcenter/issues/933 and I [added localized screenshots](https://github.com/ryonakano/reco/commit/1d2457d4aa4ad8890d7d2722a634a387640aa229) to my app.

However, [the build fails](https://travis-ci.org/ryonakano/reco/builds/504548527?utm_source=github_status&utm_medium=notification) after tha

[2019-03-11 08:37] tintou commented on #727
https://github.com/elementary/houston/blob/58c871afbe9718d3bf59b70697dcf7f8e91c1558/src/worker/task/appstream/screenshot.ts#L63 this should probably be `if (image.length < 1) {`

[2019-03-11 14:59] btkostner commented on #727
Fixed in 75ec27a3d39af2bd5ed23045b51f8e4e1d10b2dd. Thank you @tintou!

Should be deployed to `npm` (for travis ci testing) in less then 30 minutes, and on the production server within 12 hours.

[2019-03-11 14:59] #727 closed

[2019-04-06 19:55] ranfdev opened #728 "Add option to cancel submissions"
For example, i've just requested the review of my app, but i've noticed i didn't put any screenshot. I want to cancel the review request and add the screenshots, but there is no option to do it

[2019-04-06 20:11] cassidyjames commented on #728
@ranfdev creating a new release automatically removes previous releases from the review queue, so that's your best bet. @btkostner I could see a manual override on the submitter's side being helpful as well, though, as long as it's clear they need to submit a *new* release next time.

[2019-04-21 15:05] furesoft opened #729 "add support for inapp payment"
please add support for inapp purchases for plugins or in app currency

[2019-04-24 12:11] ranfdev opened #730 "Appcenter integration not found"
When i am in the developer dashboard [https://developer.elementary.io/dashboard](https://developer.elementary.io/dashboard) and i click on the top left button "Manage Apps...", i get redirected to [a 404 github page](https://github.com/integration/appcenter)

[2019-04-24 14:49] btkostner commented on #730
Well that's embarrassing. Use this link while I make a fix quick:

https://github.com/apps/appcenter

[2019-04-24 14:57] #730 closed

[2019-06-24 19:15] cassidyjames opened #738 "Reviews: Show when release was made"
It would be nice to see what the date/time of the relevant app release was, so we have an idea of how old the review is. Perhaps with a time-ago format if we want to get fancy, i.e. "2 mins ago", "yesterday", etc.

[2019-07-14 13:40] RyanAfrish7 opened #742 "Houston CI builds are failing"
The .travis.yml file used is same as the one in wiki page.

[code]

[2019-08-07 06:21] cassidyjames opened #743 "Alias Hera to Juno"
As discussed in standup. Hera should be an alias of Juno. In the case of conflicts, it should supercede since it's technically newer.

[2019-08-21 04:16] dahenson opened #744 "Failing to build a branch on Travis CI"
While attempting to build a branch of Agenda, Houston appears to fail on an outdated version of a file. The build log is here: https://travis-ci.org/dahenson/agenda/builds/574665731

The line it is failing on is no longer valid in the branch in question: https://github.com/dahenson/agenda/blob/develop/src/Agenda.vala#L44

I have been trying to find where in the Agenda source code this could be goi

[2019-08-31 20:57] mirkobrombin opened #746 "Organization project doesn't show up on dashboard"
I've a technical issue with elementary dev dashboard, my application (https://github.com/linuxhubsubpixel/license) doesn't show up.

Where am I doing wrong?

[2019-08-31 21:34] mirkobrombin commented on #746
The problem is the same as issue #644

[2019-09-01 06:41] mirkobrombin commented on #746
Also from my personal account (https://github.com/mirkobrombin/license)

[2019-09-01 07:00] mirkobrombin commented on #746
There is probably some problem between my github and houston account.
I created a second account, linked to the organization and now appears.

[2019-09-01 07:00] #746 closed

[2019-09-02 15:20] mirkobrombin commented on #644
Maybe can help.
I created a second account, linked to the organization, granted the permissions to the AppCenter and now I see the project in both. 🎉️

[2019-09-06 20:57] miguelsotobaez opened #747 "Incorrect desktop file icon value at DesktopIcon.<anonymous>"
Hi, when i run the travis ci i get this error:

# Incorrect desktop file icon value
Log: Incorrect desktop file icon value
    at DesktopIcon.<anonymous> (/home/travis/.nvm/versions/node/v10.16.3/lib/node_modules/@elementaryos/houston/dest/worker/task/desktop/icon.js:109:35)
    at step (/home/travis/.nvm/versions/node/v10.16.3/lib/node_modules/@elementaryos/houston/dest/worker/task/desktop/icon.j

[2019-09-06 20:59] btkostner commented on #747
This means that your `Icon=` in your desktop is not correct. It should be RDNN format. What repository is this for?

[2019-09-06 20:59] #747 closed

[2019-09-06 21:06] miguelsotobaez commented on #747
Ooh thanks, i'm new in elementary os and gtk, the repository is https://github.com/duocoder/zygardex, I started today with this and i'm trying to work with the travis ci from your get started documentation.

At the moment only for testing purposes.

Regards

[2019-09-09 20:55] miguelsotobaez commented on #747
@btkostner  Sorry to bother you but I still have problems with Travis CI, I changed the name of the icon and I still get the error message.

[code]

The configuration of my file is as follows com.github.duocoder.zygardex.desktop.in:

[code]

First time I listen to the RDNN format If you could explain me a bit what it is, I would appreciate it very much.

My repository is: https://github.com/duocod

[2019-09-09 20:59] btkostner commented on #747
@miguelsotobaez You don't need the `.png` part. https://github.com/danrabbit/nimbus/blob/master/data/com.github.danrabbit.nimbus.desktop.in#L5

[2019-09-09 23:46] miguelsotobaez commented on #747
@btkostner I had to thank you, this solution solve the problem to me, now the Travis CI is now complete!

Regards.

[2019-09-10 15:53] thecyberd3m0n commented on #624
I'm trying to find out how to test solution
As I understood:
Now:
`houston build` works only with Github repositories
After:
it should work also with Gitlab repos

1) Which repos I can test this way?
I'm trying to build houston repo with houston.
First I tried `houston build git@github.com:elementary/houston.git 6.2.0`, next `houston build git@github.com:elementary/houston.git master / v6.20 / ref

[2019-09-10 15:59] btkostner commented on #624
@thecyberd3m0n You can't build houston with houston. Houston does not produce a deb file.

[2019-09-10 16:04] thecyberd3m0n commented on #624
please give me example repo

[2019-09-10 16:17] btkostner commented on #624
To give a status update on this:

There is currently a PR to add support for GitLab to the worker. This only makes it possible for most of the "houston ci" stuff to work.

elementary is currently working on making Flatpak a first class citizen with houston, but how flatpaks are built compared to debs is quite different. Therefore, there will probably be significant changes made to support this. I

[2019-09-11 06:48] thecyberd3m0n commented on #624
ok I'm working on it

[2019-09-13 09:11] thecyberd3m0n commented on #624
[code]
First (almost) successfull build from Gitlab. You can see additional logs about package that was built (it Palette imported to Gitlab). Errors are result of package descriptors missmatch (I should change them in Palette repo I suppose)

Additional questions:
- do you consider private repos?

[2019-09-13 13:20] rupertdev commented on #624
I hate to complain, but I'm feeling a little upset about how this bounty/Issue was handled. I received some pretty active feedback at the time of my development, I delivered a PR that covered all of the acceptance criteria. When the PR was opened, I was told that it would be some time before it was reviewed. That was over a year ago.

It seems silly to let my work go to waste. I don't want to take

[2019-09-13 13:26] thecyberd3m0n commented on #624
I'm planning to deliver it on monday. I don't want my work to be useless. @btkostner should I continue work? Could you review @rupertdev pr, maybe this is enough?

[2019-09-13 14:24] btkostner commented on #624
@thecyberd3m0n I would stop that branch. Sorry I did not say that earlier. I figured you were trying out @rupertdev's branch.

@rupertdev's branch covers half of the work needed to support GitLab. It does everything needed to run `houston build` on a GitLab project, but does not contain the API server logic needed for things like oauth login and listing all of a person's repos.

The server compone

[2019-09-13 15:10] thecyberd3m0n commented on #624
actually I've just copied github.ts to gitlab.ts, changed some variables and added some ifs and produced log by my own, later I realized that somebody did it before me (my mistake)

Ok so if it was done, and second half requires additional integrations I'll stop my work on this task
until any news.

[2019-09-18 16:39] cassidyjames commented on #728
This also sounds like a duplicate of #631

[2019-09-18 16:39] #728 closed

[2019-09-25 15:46] miguelsotobaez opened #750 "Repository not visible when added from Organization"
I can only view repository from my github account but not from an organization.

[2019-09-25 15:49] btkostner commented on #750
Duplicate of #644

[2019-09-25 15:49] #750 closed

[2019-09-26 13:11] miguelsotobaez commented on #644
@btkostner I fix this issue by revoke appcenter apps in my github account & organization and added again. Hope this help the team to make a root fix.

Regards.

[2019-10-13 12:47] ianmjones opened #751 "Travis CI app builds failing:- No such image: houston-extract-deb:latest"
## Prerequisites
- [X] I have searched open and closed issues for duplicates.

## Describe the bug

The normal Travis CI builds for apps are currently failing due to the following error being emitted from the @elementaryos/houston npm package.

`No such image: houston-extract-deb:latest`

See Logs section below.

### Logs

Full example Travis CI build log here: https://travis-ci.com/bytepixie/snip

[2019-10-13 23:07] cassidyjames commented on #751
I'm also getting this on Ephemeral. https://travis-ci.com/cassidyjames/ephemeral

[2019-10-17 18:43] cassidyjames opened #753 "Ephemeral AppData contains a price but no Stripe key, making it show up as free"
~Not sure what's going on.~ I've confirmed on multiple machines on both stable and master. A local `appstreamcli dump` shows the custom tag with the price, but the AppCenter client shows it as free. Other apps show up as paid correctly. I've also confirmed that it's not in the `paid-apps` gsetting.

**Edit:** It looks like the AppData is not getting the Stripe key added by Houston.

[2019-10-17 19:21] btkostner commented on #753
Does ephemeral have stripe enabled? and did you enable it before making that release?

[2019-10-17 19:36] cassidyjames commented on #753
@btkostnerit it had been enabled since the very first release, but it looks like it got disabled somehow :scream: I never hit the button, so I'm not sure what's up with that...

[2019-10-17 19:39] cassidyjames opened #754 "Confirm turning off monetization"
I never intentionally clicked the button to disable monetization on Ephemeral, but it looks like it's possible that it happened with a stray click or something since there is zero confirmation. Instead, we should have a confirmation dialog or popover when trying to disable monetization so users don't accidentally lose money.

[2019-10-17 19:43] cassidyjames commented on #753
Related issue filed at https://github.com/elementary/houston/issues/754, but we should see if we can confirm it was a stray click or something versus something automatic.

[2019-10-17 20:37] ianmjones commented on #751
Looking good for me too. Thanks @gamerlv for the fix and @btkostner for the review and merge.

[2019-10-17 20:37] #751 closed

[2019-10-21 15:59] dar5hak opened #755 "`npm install` fails on Travis"
## Prerequisites
- [x] I have searched open and closed issues for duplicates.

## Describe the bug
While trying to install `@elementaryos/houston`, node-gyp encounters an error related to `nodegit` package.

### To Reproduce
Steps to reproduce the behavior:
1. Push to a branch on an AppCenter-enabled repo so that the build is triggered.
2. Go to the Travis build log.
3. See error: `The command "np

[2019-10-21 16:05] dar5hak commented on #755
One difference I noticed is how it tries to fetch `nodegit`. In my previous successful builds, it fetched prebuilt binaries of `nodegit` and used those. In this failed build, it couldn't fetch those, so it tried to compile it locally, which didn't work.

[2019-10-21 23:38] gamerlv commented on #755
I've checked over the log you linked. The root cause is the new nodejs LTS version, v12,[ that was released on the 21st of this month](https://nodejs.org/en/about/releases/). In your ` .travis.yml ` file you specified you want your test to run on the latest. Previous tests where run with nodejs LTS v10.

Houston-cli has a dependency on nodegit as you see in the error, currently we are using versio

[2019-10-22 03:50] dar5hak commented on #755
@gamerlv Ah, that makes sense. Thank you, I'll wait for the update.

[2019-10-23 16:33] #755 closed

[2019-10-28 08:35] padjis commented on #744
I am having a Houston issue while trying to run  docker services based on ubuntu xenial on travis ci

[2019-11-03 21:53] calo001 commented on #613
Hi!
Stripe recently arrived officially to Mexico, and I tried to connect with the dashboard and get the same 500 error, Maybe accounts from Mexico still are on preview mode?

[2019-11-05 16:19] btkostner commented on #613
Relevant code here: https://github.com/elementary/houston/blob/master/src/houston/passport/stripe.js#L32

[2019-11-05 16:49] calo001 opened #759 "Support for MX country on connecting with Stripe"
Stripe recently arrived officially in Mexico, and I tried to connect with the dashboard and got a 500 error. Now MX accounts should be fully supported in Stripe.
https://stripe.com/mx/blog/stripe-launches-in-mexico

Mexico is in the PREVIEW_COUNTRIES array in this code:
https://github.com/elementary/houston/blob/master/src/houston/passport/stripe.js#L32

Thanksss 🙏️

[2019-11-05 17:46] cassidyjames commented on #277
Looking at this three years later, I think we have been leaning into using AppData as the source of truth. I could see this making sense as a sort of hand-holding first step for a new app, but I'm not sure if it's worth the time to do.

[2019-11-08 21:59] ztefn commented on #742
Just got the exact same error for Houston CI when trying to test the [elementary branch](/ztefn/haguichi/tree/elementary) of Haguichi: https://travis-ci.com/ztefn/haguichi/jobs/254639701

[code]

[2019-11-11 12:07] jeremyvaartjes opened #760 "Stripe payment dispute for fraud - no method available for resolving"
## Prerequisites
- [x] I have searched open and closed issues for duplicates.

## Feature
**Is your feature request related to a problem? Please describe.**
So today I got notified of a payment dispute from Stripe related to fraud. (See here for more info: https://stripe.com/docs/disputes/categories#fraudulent). While it is totally normal for this sort of thing to happen with stolen cards, it does

[2019-11-12 08:30] tintou opened #761 "Add 2 checks for the description validation"
* Do not start the description with the application name, we already have the name written above in all contexts.
 * Do not mention the language it is written into: we probably want to have a warning when the keywords "Vala", "Python", "Rust", "Javascript"… are used

[2019-11-15 02:03] padjis opened #762 "I have been waiting for approval of my new elementary os app for months now"
https://github.com/padjis/ghistory

[2019-11-15 11:59] cassidyjames commented on #762
Hey @padjis, it appears [version 1.0.0](https://github.com/padjis/ghistory/releases/tag/1.0.0) is in review since 19 days ago, when it was released. I'll bump the review team and see what the status is.

[2019-11-16 11:51] padjis commented on #762
Thank you @cassidyjames

[2019-11-19 18:04] arshubham commented on #759
Same for India too. Although it still shows in preview. According to stripe it can process charges in USD. https://stripe.com/docs/currencies

[2019-11-20 23:52] cassidyjames opened #763 "Solicit (optional) AppCenter Spotlight answers from dashboard"
I have a totally out-of-band survey I've used to solicit responses that might help us write AppCenter Spotlight pieces. Instead of doing this out of band, we could have this be right in the dashboard in hopes of getting more developers providing responses, which in turn makes it easier for us to help promote their apps.

[2019-11-25 21:28] #743 closed

[2019-12-08 20:18] OssNass opened #764 "Free up the `Super` key"
I would like to make a request to free up the `Super` key, currently on Hera this key displays a quick view of the shortcuts in the system, I would like to request to add it as an editable option.

I love elementary OS but the work  flow is somewhat stupid, I would to open Slingshot with the `Super` key and change the keyboard layout using `Super Space` combination, both are unavailable.

Please m

[2019-12-09 16:00] Timecraft opened #765 "Reflect release of 5.1 Hera"
## Prerequisites
- [X] I have searched open and closed issues for duplicates.

## Describe the bug
A clear and concise description of what the bug is.

If applicable, add screenshots or screen recordings to help explain your problem.

elementary OS 5.1 Hera has been released. However, the developer page still refers to Juno. I am not sure if this is intended, but I believe it would be better to re

[2019-12-09 20:05] cassidyjames commented on #765
Ah yeah we missed this page! How about something like:

Thoughts @danrabbit? Too much?

[2019-12-27 08:55] jithu12 opened #766 "Lenovo devices face wifi issue"
i have been heard that Lenovo devices with AMD processors commonly face WiFi issue in Ubuntu. Is the same problems are there in Elementry?

[2019-12-27 22:16] btkostner commented on #766
Please ask this question on the [elementary OS Stack Exchange](https://elementaryos.stackexchange.com/)

[2019-12-27 22:16] #766 closed

[2019-12-28 04:47] jithu12 commented on #766
thank you

On Sat, Dec 28, 2019 at 3:46 AM Blake Kostner <notifications@github.com>
wrote:

--
Thanks and regards,

[image: photo]
*Jithu Paul*
Software Analyst Trainee, ECESIS

9074940654 | 815688669 | Jithupaul1122@gmail.com

Jithupaulthopramkudy.worpress.com
<http://jithupaulthopramkudy.worpress.com/>

[2020-01-20 18:56] volfpeter opened #768 "Incorrect "AppCenter Dashboard GitHub Integration" link"
Hi guys!

I've finished my first Vala/Gtk application (thanks for the great guide) and I would like to submit it to AppCenter. Unfortunately the "AppCenter Dashboard GitHub Integration" link in the [Submission Process](https://github.com/elementary/houston/wiki/Submission-Process) wiki page seems to be broken, so I don't know how to proceed.

Any help would be appreciated.

Thanks!

[2020-01-20 21:29] btkostner commented on #768
Updated and fixed

[2020-01-20 21:29] #768 closed

[2020-01-20 21:54] volfpeter commented on #768
Thanks a lot!

[2020-01-20 22:25] volfpeter commented on #768
Can I have one more question? Where should I look for the "up arrow icon in a green bubble" to submit my application for review?

[2020-01-21 16:05] btkostner commented on #768
@volfpeter It should be on the dashboard when you are looking at the list of apps

[2020-01-21 17:47] volfpeter commented on #768
@btkostner Do you mean in Settings / Applications (https://github.com/settings/installations)? Should AppCenter show up under "Authorized GitHub Apps" or is it enough if it's under in "Installed GitHub Apps"?

[2020-01-21 19:44] btkostner commented on #768
@volfpeter nope, under https://developer.elementary.io/dashboard

[2020-01-21 20:11] volfpeter commented on #768
Awesome. I don't think I've seen this link in the docs or on the wiki, although I might have missed it. Maybe it should be added to the Submission Process wiki page. I've found the link on https://developer.elementary.io, but it wasn't really obvious that I should proceed through the "Welcome back" button with the octacat.

Anyway, thanks a lot for the support!

[2020-01-26 09:43] volfpeter opened #769 "Application build error: Dependency "granite" not found"
Hi,

I've tried publishing my application to AppCenter, but the build fails with this error: `meson.build:11:0: ERROR:  Dependency "granite" not found, tried pkgconfig`.

I've checked a couple of AppCenter applications on Github to try to figure out what I'm doing wrong, but I couldn't find the problem, so now I'm wondering if this has something to do with `houston`. Here is the full [build log](h

[2020-01-26 11:24] jeremyvaartjes commented on #769
Try adding granite as a dependency to your `/debian/control` file since this is what is used for building your debian package.

[2020-01-26 13:30] tintou commented on #769
Yes exactly what @jeremyvaartjes said, you need to specify the dependencies you're using here https://github.com/volfpeter/timer/blob/master/debian/control#L5

[2020-01-26 14:31] volfpeter commented on #769
Thanks guys! I guess I'll have to add `libunity-dev` as well then.

[2020-01-26 14:31] #769 closed

[2020-01-26 15:05] volfpeter opened #770 "App validation is not synced with the Getting Started guide"
Hi (again),

The "AppData.xml" example in the [Getting Started](https://elementary.io/docs/code/getting-started#appdata) guide doesn't include the `<project_license>` tag. It's an optional (but recommended) tag according to the AppStream metadata specification, so for the sake of consistency, either the tag should be added to the example or its existence shouldn't be validated.

[2020-01-26 15:28] volfpeter opened #771 "OARS content_rating tag validation inconsistency - missing values should default to none"
Hi,

The [Before You Publish](https://github.com/elementary/houston/wiki/Before-You-Publish) wiki page references [this](https://hughsie.github.io/oars/) OARS `<content_rating>` tag generator. The generator adds tags only for those topics, where the answer was not "None". The content rating tag validator should accept the generated data.

Thanks for the great work and support!

[2020-01-26 16:06] volfpeter opened #772 "Incorrect license ID validation - GPL-3.0-or-later"
Hi,

Sorry for opening yet another issue. I'm still trying to get my application validated, and now I'm getting [this warning](https://github.com/volfpeter/timer/issues/5):

[code]

[2020-01-27 16:14] btkostner commented on #772
This is probably due to an old version of appstreamcli being used

[2020-01-28 07:37] volfpeter commented on #772
Should I wait until appstreamcli is upgraded, or should I just switch to `GPL-3.0-only`? Would that pass validation currently?

[2020-01-28 15:58] btkostner commented on #772
This docker file needs to be updated first: https://github.com/elementary/houston/blob/v2/src/worker/task/appstream/validate/Dockerfile

[2020-01-29 08:38] volfpeter commented on #772
Apparently `GPL-3.0-only` is also treated as invalid...
Can I somehow validate my `appdata.xml` locally with the exact same options (and `appstreamcli` version)? Validating it with my current `appstreamcli` version (with no extra arguments) obviously passes. It's not great that I need to keep making new releases after each change to test if submission finally succeeds.

[2020-01-29 08:39] volfpeter commented on #771
The issue might be the same as in #772 - old `appstreamcli` version is used by houston.

[2020-02-09 15:31] meisenzahl opened #773 "Segmentation fault of Houston CI on Travis"
## Prerequisites
- [x] I have searched open and closed issues for duplicates.

## Describe the bug

A segmentation fault occurs when running Houston CI on Travis CI. The error occurs in all my repositories. Even older jobs that are restarted now fail. For example: https://travis-ci.com/manexim/news/jobs/255702040

I am not 100% sure if the error is caused by Houston CI.

It could also be a side ef

[2020-02-15 23:32] peteruithoven commented on #773
From gitter I understood Houston does work with a specific (slightly older) Node.js version: `10.17.0`.
https://gitter.im/elementary/houston?at=5e3d28ce40da694c5e123cab

This solved it for me: https://github.com/peteruithoven/resizer/issues/48

[2020-02-19 22:21] cassidyjames opened #774 "Downloads API returning empty set"
I've noticed this missing for at least a few days, but it could have been longer. https://developer.elementary.io/api/newest/downloads

[2020-02-26 14:43] alainm23 opened #775 "AppCenter does not distribute the correct version of Planner."
## Describe the bug
Hi guys, I'm the developer of Planner. I've uploaded an update (v2.2.6). In AppCenter the version is displayed correctly. However, when installed it is not the correct version. What could be happening?

### Screenshots or screen recordings
![image](https://user-images.githubusercontent.com/33765137/75355056-ea19c300-587b-11ea-8f70-bbc7535ee48e.png)

## Platform Information
 - O

[2020-02-26 16:27] danrabbit commented on #775
It looks like your data directory got pushed into your debian directory: https://github.com/alainm23/planner/tree/deb-packaging/data

So the package is preferring whatever is in that packaging branch

[2020-02-26 16:27] #775 closed

[2020-02-26 16:27] danrabbit commented on #775
Actually it looks like all of planner is in that packaging branch. So that's definitely the problem

[2020-02-26 16:37] alainm23 commented on #775
Silly me 😥️, I've uploaded a new update to AppCenter, I hope it's fixed now.

[2020-03-12 10:01] 4jNsY6fCVqZv opened #776 "Add Codeberg support"
I have already described the motivation here.
https://github.com/elementary/code/issues/745

[2020-03-25 00:20] lewisgoddard commented on #774
This appears to be fixed for now.

[2020-03-25 01:06] btkostner commented on #774
Chances are it was a db error. I'm not happy using mongodb in production and plan to transition to something a bit more stable in the rewrite.

[2020-03-25 01:06] #774 closed

[2020-03-31 14:25] rockinJ opened #777 "Live USB won't boot to desktop"
## Prerequisites
- [x] I have searched open and closed issues for duplicates.

## Describe the bug
Live USB won't boot to desktop
### To Reproduce
Steps to reproduce the behavior:
Download the latest live DVD, expand it to a USB flash drive. Since it's EFI boot I just open the iso with explorer and copy all the files from the virtual DVD to USB drive.
Then boot with the USB drive. Pressed enter to

[2020-04-05 21:41] matzipan commented on #497
Hi - I have a similar issue but logging out and back in didn't fix it. Should I open a new issue ?

[2020-04-06 17:03] btkostner commented on #497
@matzipan you can just talk on here. Is the repo in question part of an organization?

[2020-04-09 02:30] #777 closed

[2020-04-10 13:09] stsdc opened #779 "Houston CI fails if project uses Meson subprojects feature"
## Prerequisites
- [x] I have searched open and closed issues for duplicates.

## Describe the bug
I'm using  a Meson's subprojects feature, where special [*.wrap files](https://mesonbuild.com/Wrap-dependency-system-manual.html) are created and Mesons uses them to download dependencies that are unavailable in system packages.
I'm using this feature to built [Monitor](https://github.com/stsdc/monit

[2020-04-14 07:54] volfpeter commented on #762
@cassidyjames Same [here](https://github.com/volfpeter/timer). (It looks like gHistory has already passed review and it's in AppCenter.)

[2020-04-14 14:22] cassidyjames commented on #762
@volfpeter there was a build system issue recently which had blocked up reviews and we're working back through them.

Since this is not an issue with Houston itself and is just inviting pile-on, I'm going to close it. If you have a specific issue with Houston or would like to ask a new question, feel free to open a new issue.

[2020-04-14 14:22] #762 closed

[2020-04-14 15:02] davidmhewitt commented on #779
The Houston build environment does not allow downloading things from the internet for security reasons. Anything you need to build the project has to be in the repository, or available in the repositories for the version of elementary you're building against.

[2020-04-16 22:47] cassidyjames opened #781 "Missing 128px HiDPI icons"
It looks like we lost 128px HiDPI icons in AppCenter banners at some point. ~@danrabbit mentioned it looks like we're missing a 128@2x folder here: https://github.com/elementary/appstream-data/tree/master/pantheon-data/main/icons~

[2020-04-19 21:19] muriloventuroso opened #782 "Broken icon in app view"
The application icon is showing up with a black band. I think it's a svg rendering bug. Here is an example:
[muriloventuroso/givemelyrics](https://appcenter.elementary.io/com.github.muriloventuroso.givemelyrics/)

![giveme1](https://user-images.githubusercontent.com/6272902/51113076-f661ce80-17e7-11e9-958f-f308c7323828.png)

In listing and AppCenterWeb is displayed correctly:

![giveme2](https://u

[2020-04-19 21:20] danrabbit commented on #782
Transferring to Houston because this is going to depend on the version of librsvg we're using to render there

[2020-04-22 18:22] stsdc opened #783 "New version of an app got accepted, but not showing up in AppCenter"
New version of Monitor got accepted ~6 days ago, but new version is not visible in AppCenter desktop app nor web version: https://appcenter.elementary.io/com.github.stsdc.monitor/

Expected to see new 0.7.1 version visible in AppCenter, instead 0.6.2 still there.

Monitor repo: https://github.com/stsdc/monitor

[2020-04-22 21:34] cassidyjames commented on #783
Something was clogged up on the back end, but @btkostner took care of it. New release is available, see: https://appcenter.elementary.io/com.github.stsdc.monitor/

[2020-04-22 21:34] #783 closed

[2020-04-24 16:44] stsdc commented on #783
Thanks!

[2020-04-26 08:45] hannesschulze commented on #779
Hi there,

I would really appreciate the ability to use meson subprojects in elementary apps. I am currently working on three projects, all using subprojects and all of them have different use cases:

- [**Optimizer** is currently using subprojects for detecting GPU usage.](https://github.com/hannesschulze/optimizer/pull/77) It is therefore using two different libraries (currently for AMD and Nvid

[2020-04-28 00:59] barlan opened #790 "Invalid link on homepage"
## Prerequisites
- [x] I have searched open and closed issues for duplicates.

## Describe the bug
On https://developer.elementary.io/, the `pitch-appcenter` section has an invalid link here:

![image](https://user-images.githubusercontent.com/16927294/80434940-0358e300-88b0-11ea-874f-8259a0885509.png)

The "Learn more about app metadata" link doesn't lead anywhere.

### To Reproduce
Steps to repr

[2020-05-03 06:03] mirkobrombin opened #786 "Internal error while running"
I'm trying to upload three applications but I always get the same error (Internal error while running) without any description
https://github.com/linuxhubit/catfacts/issues/1

[2020-05-03 07:49] #786 closed

[2020-05-05 15:23] 1903mfdemir opened #787 "Expired Slack Link"
[Slack](https://elementarycommunity.slack.com/join/shared_invite/enQtMzU1NDU4OTE1MjY2LWUyOTBkZGNkZGM4MDgzZjE2ZjRiZDgwMDQ1ZTA0MzcxYjI0MDUyNGRlNDI5ZWViNDkwMzMwYzczMDY2ZjA0MTc) link which is at [dashboard](https://developer.elementary.io) has expired.

[2020-05-05 18:11] #787 closed

[2020-05-05 18:42] lewisgoddard commented on #615
These are currently in place, making a pull request to drop Medium.

[2020-05-05 18:42] #615 closed

[2020-05-06 17:21] #790 closed

[2020-05-12 06:36] cleac opened #792 "Name of project does not change after repository renaming"
**Overall description**

When you rename project on GitHub, it does not change to a new name in dashboard and build fails because it expects old name of executable. Example: [Olifant](https://github.com/cleac/olifant).

Renaming of forked project should lead to renaming of repository to avoid confusion, so I think this is a bit of an issue.

Here is how dashboard looks like at the moment for me, e

[2020-06-23 20:43] cassidyjames commented on #346
Fixed in #785

[2020-06-23 20:43] #346 closed

[2020-07-09 18:29] cassidyjames commented on #753
So it looks like what happened here was something with the database losing the state, and requiring me to re-enable monetization.

[2020-07-09 18:29] #753 closed

[2020-07-09 18:30] cassidyjames opened #797 "Support Codeberg repositories"
We've gotten some people asking to support Codeberg as a source for repositories. While you can set up a mirror on GitHub (and that's my current recommendation), some are opposed to using GitHub at all.

[2020-08-13 16:17] sapoturge commented on #792
I can confirm that this is an issue with [Froggum](https://github.com/sapoturge/froggum) as well. In my case, I've never released my app, so there shouldn't be problems with things like maintaining connections to previous versions.

[2020-09-05 12:48] WattanaGaming opened #799 "App repo not visible on the dashboard."
I added the appcenter integration to my repo and made sure I set it up correctly.
![image](https://user-images.githubusercontent.com/25323231/92305358-c369e100-efb0-11ea-9d5d-5231ec97bf53.png)
But for some reason, it's not showing up on the dashboard.
![image](https://user-images.githubusercontent.com/25323231/92305367-d381c080-efb0-11ea-90b9-cb399b4fe81f.png)

[2020-09-27 08:00] JMoerman opened #802 "Support feature/development-branch specific packaging branches"
## Prerequisites
- [x] I have searched open and closed issues for duplicates.

## Feature
**Is your feature request related to a problem? Please describe.**

Hi, I would like to have a way to have Houston CI deal with branches with dependencies that differ from the master branch. A solution was provided on medium, but unfortunately creating `deb-packaging-branchname` for a branch `branchname` does

[2020-09-28 15:02] btkostner commented on #755
:tada: This issue has been resolved in version 6.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@elementaryos/houston)
- [GitHub release](https://github.com/elementary/houston/releases/tag/v6.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-28 15:02] btkostner commented on #743
:tada: This issue has been resolved in version 6.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@elementaryos/houston)
- [GitHub release](https://github.com/elementary/houston/releases/tag/v6.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-28 15:02] btkostner commented on #787
:tada: This issue has been resolved in version 6.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@elementaryos/houston)
- [GitHub release](https://github.com/elementary/houston/releases/tag/v6.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-29 16:32] rickybassom opened #803 "Support changing GitHub username"
## Describe the bug
As highlighted by @cassidyjames [here](https://github.com/rickybassom/gtk-gist-manager/issues/8) when a GitHub user changes their username houston can't process the user's apps. I don't know the technical details of this problem, maybe @cassidyjames can expand on this here?

I would also appreciate if someone from the elementary team solved this problem for my account as soon a

[2020-10-03 02:12] sapoturge opened #804 "AppCenter stops working after uninstall"
## Prerequisites
- [X] I have searched open and closed issues for duplicates.

## Describe the bug

I was having issues with getting my app Froggum to pass the automated submission tests, since AppCenter didn't create issues on my repository. As an attempt to fix that, I uninstalled and reinstalled AppCenter to my Github account. It now refuses to acknowledge that it has access to any apps, even t

[2020-10-03 18:14] btkostner commented on #804
@sapoturge Did you log out and back in after installing the integration again?

[2020-10-03 18:45] sapoturge commented on #804
Yes. It still doesn't show anything.

[2020-10-08 19:49] sapoturge commented on #804
Apparently I didn't search well enough for duplicates: This is probably the same as #799 .

[2020-10-19 09:34] 4jNsY6fCVqZv commented on #797
@cassidyjames Could you imagine adding this issue to the AppCenter For Everyone Sprint?
https://github.com/orgs/elementary/projects/72

[2020-10-19 09:37] 4jNsY6fCVqZv commented on #797
Codeberg is based on https://en.wikipedia.org/wiki/Gitea. So a Codeberg integration also means Gitea support, right? Gitea is self-hostable.

[2020-10-29 21:15] matfantinel commented on #803
I have 2 apps in AppCenter (Reminduck and Moneta) and am considering changing my GitHub username. So I can be a lab rat if needed.

[2020-10-29 21:18] cassidyjames commented on #803
So the root issue is that Houston itself uses the GitHub username to verify the RDNN of your app. We require strict RDNN to avoid conflicts and to always be able to verify where an app is coming from. That trickles down from authenticating to the dashboard itself to the package names of your app in the debian repository, to the app ID your app uses for things like AppData, its .desktop file, etc.

[2020-11-02 00:37] rickybassom commented on #803
Thank you for explaining the problem @cassidyjames.

I think that's a good solution for now since only a couple of users are facing this issue. I would be happy to try your solution by changing my app's RDNN to the old version. Then we could test if the mapping works. Should I create new releases now with the old RDNN to test it out?

Would it not be possible to create a completely new user by rem

[2020-11-02 21:05] cassidyjames commented on #803
We discussed this on a call today. There is still some manual work on our end to resolve this, but one thing you'll need to do in your app is to update the `provides` in your AppStream to provide the old RDNN. Then we'll need to:
- Update AppCenter to be smarter about `provides`, especially around payments
- Manually generate a transitional package to get users to upgrade to the new package seamle

[2020-11-06 21:04] cassidyjames commented on #803
It might be obvious, but I want to note that this is also an issue if an associated org changes its name, or if a repo moves GitHub accounts or orgs. In the later case, it feels like the right thing is to treat it as a new app, but I'm not sure.

[2020-11-08 19:59] rickybassom commented on #803
@cassidyjames That sounds like a good plan. I've updated `provides` and made new releases for both of my apps to use the old RDNN  so you can use my apps to test your solution:
- https://github.com/rickybassom/date-countdown
- https://github.com/rickybassom/gtk-gist-manager

[2020-11-12 15:00] hezral commented on #799
I'm having the same issue. I have an existing app which is showing in AppCenter dashboard but a new app repo i added is not showing up. I've double check all files are nearly identical to the one already in AppCenter dashboard.

Existing and showing: https://github.com/hezral/inspektor
New and not showing: https://github.com/hezral/quickword

[2020-11-13 00:54] hezral commented on #799
I've tested by creating a new repo and copying everything without changing any files from https://github.com/hezral/inspektor and its the same, not showing up.

https://github.com/hezral/inspektors is the clone

![image](https://user-images.githubusercontent.com/762735/99014299-69c3fb00-258d-11eb-92e4-609f35958b97.png)

Also https://developer.elementary.io/dashboard times out everytime i added a n

[2020-11-17 00:27] judirraquel commented on #799
I'm having the same issue. I waiting can upload my application soon.

[2020-11-30 06:14] phase1geo commented on #799
I also seem to be running into this issue with my phase1geo/TextShine application.  I have the repository enabled in GitHub through the AppCenter Dashboard; however, after creating a 1.0.0 release, the repository is not showing up in the AppCenter developer dashboard.

[2020-12-12 23:24] rickybassom commented on #803
Hi @cassidyjames, have there been any updates to this issue so I can get my apps back on the AppCenter?

[2020-12-15 16:33] aggalex opened #807 "I get HTTP Error 500 upon login."
## What Happened

## Expected Behavior

## Steps to Reproduce

1.
2.
3.

### Logs

## Platform Information

[2020-12-15 19:26] btkostner commented on #807
This is because we are timing out trying to fetch all of the projects on your github account.

Sadly the fix for it is rather involved. It would require setting up to run that request in the background, and then a websocket connection to the browser to tell it when it's done loading the projects. Both of which are going to be painful with the current setup. It's being looked into down the line tho

[2020-12-18 13:00] dar5hak commented on #613
I was trying to connect an Indian account and landed here.

Looking at https://stripe.com/global, Mexico seems to be out of preview (and India is still in). But then Brazil is also in preview. Not sure if I should include that in a PR.

[2020-12-21 20:12] ekecso opened #808 "Include Transaction ID in receipt emails"
## Problem
When customers are asking about issues with their payment, we don't have a transaction/payment ID to go off of.

## Proposal
Include transaction/payment ID in receipt emails.

## Prior Art
We include transaction IDs in os receipts.

[2021-01-03 19:24] dar5hak commented on #799
I faced this with https://github.com/elfenware/obliviate, and decided to have a go at fixing it. But I couldn't get Houston to run locally.

@btkostner @cassidyjames Extremely sorry for the direct mention, but it seems there are six app releases blocked due to this issue. Can you help with this?

[2021-01-19 07:16] RajSolai commented on #799
Same Issue with my application https://github.com/RajSolai/lroton Just trying for Months to get into the dashboard

[2021-01-24 07:07] meisenzahl opened #812 "Support repositories with default branch `main`"
## Problem

The default branch name for new repositories created on GitHub is now `main`. But the fallback from distro name in Houston is probably hard coded to `master`.

## Proposal

Support the new default branch name `main`.

[2021-01-27 21:31] hanaral opened #813 "Icons section on developer HIG site uses old icons"
## What Happened

The icon guidelines section of developer.elementary.io uses a bunch of out-of-date icons, but more significantly the Mail, Terminal and Music icons

[2021-02-13 01:55] hezral commented on #799
I've just removed and readded my repo and now its showing.
Thanks to whoever that fixed this :)

[2021-02-18 06:06] dar5hak commented on #799
@hezral Removed and readded where? If it wasn't on the dashboard in the first place, how did you remove it?

[2021-02-18 10:33] hezral commented on #799
I had 2 repo on the AppCenter configurations on Github. Removed those and readded it.

[2021-02-18 10:46] dar5hak commented on #799
Ah okay, I had granted org-wide access. Working now with selected repos. Thanks a lot! 🚀

[2021-02-18 11:54] hezral commented on #799
Cool 👍🏻

[2021-02-18 14:26] hezral commented on #799
Still don't know who or what fixed this do we can close this off

[2021-02-18 15:38] RajSolai commented on #799
Working perfect Right now , Nice !

[2021-02-18 16:21] btkostner commented on #799
This was fixed when we moved from one of GitHub's older API endpoints to a newer one. I'm assuming they found the bug and fixed it in an update before. I'm going to close this now that it seems everyone can view their project. Let me know if this problem happens again.

[2021-02-18 16:21] #799 closed

[2021-03-02 22:04] decathorpe commented on #645
Seems like I put off learning TypeScript for long enough that this issue became obsolete. 😅  gnome-software switched from libappstream-glib to libappstream with versions 40.beta and later, and libappstream-glib is now more or less obsolete :tada:

[2021-03-02 22:04] #645 closed

[2021-03-30 17:17] danrabbit commented on #722
I'm going to close this as we're moving to Flatpak and it should be easier to vendor deps in flatpak :)

[2021-03-30 17:17] #722 closed

[2021-03-30 17:19] danrabbit commented on #707
This is no longer relevant since inside flatpak gsettings now uses a keyfile backend

[2021-03-30 17:19] #707 closed

[2021-03-30 18:21] danrabbit commented on #616
I'm going to close this since it will be automatically resolved by shipping https://github.com/elementary/flatpak-authenticator

[2021-03-30 18:21] #616 closed

[2021-03-30 18:24] danrabbit commented on #595
I'm going to close this as a "design conflict" since it seems fairly convoluted and unpopular with the number of :-1:s here. There's also concerns that crypto mining is bad for the environment and it seems mining is no longer profitable unless you have a dedicated mining computer. The end result is also not a currency that developers can use to buy food or pay their bills, so it doesn't really see

[2021-03-30 18:24] #595 closed

[2021-03-30 18:25] danrabbit commented on #476
Closing since we're moving to flatpak and it isn't relevant any longer

[2021-03-30 18:25] #476 closed

[2021-03-30 18:26] danrabbit commented on #459
Closing since we're moving to flatpak and it's no longer relevant

[2021-03-30 18:26] #459 closed

[2021-03-30 18:26] danrabbit commented on #472
Closing since we're moving to flatpak and this is no longer relevant when apps are sandboxed

[2021-03-30 18:26] #472 closed

[2021-03-30 18:28] danrabbit commented on #277
Yeah, gonna close this since it's no longer applicable in a flatpak world

[2021-03-30 18:28] #277 closed

[2021-03-30 18:29] danrabbit commented on #659
This doesn't seem relevant anymore since we're moving to flatpak

[2021-03-30 18:29] #659 closed

[2021-03-31 05:17] harisvsulaiman commented on #595
Rather than mining on the user system i would rather have users opt into privacy respecting native ads. 🤷🏼

[2021-04-03 20:16] syfds commented on #799
I had the same issue with a specific repository today. Instruction in the last comment of @dar5hak helped to solve the problem.

[2021-04-06 21:43] rickybassom commented on #803
Are there any plans to fix this?

[2021-04-11 18:07] slawtul commented on #786
Hi Mirko,
what was the issue?

[2021-04-12 07:48] mirkobrombin commented on #786
I assume an "Internal Error" as a few minutes later it was back up and running.

[2021-04-12 09:09] slawtul commented on #786
I published an app twice and each time got Internal Error. Anyways, thanks for an answer. StackExchange, Discord, Stackoverflow seem dead.

[2021-04-12 09:51] mirkobrombin commented on #786
For technical problems I got more easily answered in the GitHub Issues, for everything else Reddit.

[2021-04-12 11:58] slawtul commented on #786
Thanks Mirko. I have just uninstalled AppCenter from my github account. Elementary OS is user friendly (and I can confirm this) - but not developer friendly for sure. I give up for now - maybe someday in a future I will back again.

[2021-04-30 22:47] jalcine commented on #797
This is something I'm adamant about supporting mainly because it would be the in-road to allowing elementary to interact with the broader open source community that attempts to reduce their engagement with organizations like ICE. I'm familiar with the API exposed by Gitea and from what I can gather about Houston's use of GitHub, it can definitely be compatible with it.

[2021-04-30 22:48] jalcine commented on #797
I'd ask if elementary, as a team, is open to this because it's not a small undertaking (I can imagine a lot of bits about GitHub being hard-coded into Houston) at all.

[2021-05-05 23:56] jalcine commented on #797
Looking at the code in https://github.com/elementary/houston/blob/v2/src/lib/service/github.ts, it doesn't look too impossible!

[2021-05-06 16:45] btkostner commented on #797
Sorry about the delay (I get way too many notifications on GitHub). I appreciate the work, and this is something we definitely want to support. But the next iteration of houston (with flatpak support) will most likely be a rewrite of this code base in a different language with some core differences to support other source controls besides GitHub.

[2021-05-06 16:56] jalcine commented on #797
Hey @btkostner,

Heh, I declare bankruptcy on them once a month!

Is it possible for the community to contribute to this? I have a vested interest in this and would have no problem contributing time.

[2021-05-06 17:08] btkostner commented on #797
@jalcine The server side of the project will be here https://github.com/elementary/houston-server. We were planning on figuring everything out at the AppCenter for Everyone sprint, but [that was sadly postponed](https://blog.elementary.io/appcenter-for-everyone-remote-sprint/). Luckily Dan, Cassidy, and I are planning a mini sprint all next week to figure out what we need to do for the next iterat

[2021-05-06 17:09] jalcine commented on #797
Excellent, super-excited to hear about that - thank you!

On Thu, May 6, 2021 at 10:08 AM, Blake Kostner
***@***.***> wrote:

[2021-05-06 17:32] jalcine commented on #797
Oh nice, it's in Elixir too! I've enjoyed that language a lot (as well
as Rust).

On Thu, May 6, 2021 at 10:08 AM, Blake Kostner
***@***.***> wrote:

[2021-05-06 17:54] btkostner commented on #797
Yep! I use it a lot at work at System76 and have fallen in love with it. I'd rather have the backend and web interface use that instead of node. Especially with how fast node moves. Most of the code in this houston repo is super out of date because it was written years ago. Ain't nobody have time for that maintenance work

[2021-05-12 22:34] overlisted commented on #812
Oh, is that why my repository isn't showing up?

[2021-05-21 20:13] cassidyjames opened #822 "Throw infobar about longer review queue times due to Flatpak rewrite"
We talked about this briefly at the sprint, but: it might be beneficial to throw an infobar at the top of the dashboard mentioning longer review times as we work to rebuild the AppCenter Dashboard around Flatpak. We can mention that apps are still able to be submitted and will be reviewed, but that developers may want to start testing building their apps with Flatpak to be ready for the new dashbo

[2021-06-08 12:11] candiedoperation opened #824 "Internal error while running"
![Screenshot from 2021-06-08 17 40 01](https://user-images.githubusercontent.com/47198395/121182501-c4ea7180-c880-11eb-951a-3162dd1350e9.png)

Repo: https://github.com/candiedoperation/ordne

[2021-06-08 12:12] candiedoperation commented on #824
@cassidyjames, @danrabbit I am unable to send my app for review. It builds and works fine on my desktop...

[2021-06-08 15:30] btkostner commented on #824
The https://github.com/candiedoperation/ordne project is failing because it does not include any debian packaging.

Right now elementary is focusing on transitioning to flatpaks, so our documentation is updated for that. You can view it [here](https://docs.elementary.io/develop/writing-apps/our-first-app/packaging). Note that the current dashboard does not work with flatpak though, but there will

[2021-06-08 15:30] #824 closed

[2021-06-08 15:55] candiedoperation commented on #824
Thank You for the response @btkostner.
BTW, How long will it take for the AppCenter Dashboard Transition to flatpak so that I can submit the app for review?

[2021-06-08 15:57] candiedoperation commented on #824
In fact, The app is targeted for Elementary OS 6, Do I need to do `deb packaging` (if so how?) or should I wait for the `flatpak` transition of AppCenter Dashboard?

[2021-06-08 16:16] btkostner commented on #824
I would wait for the flatpak transition. It will be done before we release elementary OS 6, so soon. You can follow the progress here https://github.com/elementary/appcenter-dashboard

[2021-06-09 21:17] ztefn opened #826 "com.github.ztefn.haguichi Has Issues That Must Be Resolved (or so they say)"
Submitted new Haguichi version [1.144.0](https://github.com/ztefn/haguichi/releases/tag/1.144.0) to AppCenter on the Developer Dashboard. After a few hours an alert icon appeared with the following message:

_**com.github.ztefn.haguichi Has Issues That Must Be Resolved**
Please resolve the filed issue reports and then create a new release in GitHub_

However no issues are filed.

The only major ch

[2021-06-09 22:13] btkostner commented on #826
Sorry about that. It seems there was an issue uploading your package to the repository for testing. I cleared out the issue and am re-running your submission process. I'll close this once the build is in review.

[2021-06-26 09:56] ztefn commented on #826
@btkostner Any progress on this?

[2021-06-26 16:51] ChildishGiant opened #837 "developer.elementary.io links to a dead page"
## What Happened
When clicking on "Design" the user is sent to https://elementary.io/docs/human-interface-guidelines

## Expected Behavior
The correct URL appears to be https://docs.elementary.io/hig/

## Steps to Reproduce
1. Go to https://developer.elementary.io/
2. Click design
---
Reference could also be changed to https://docs.elementary.io/develop/writing-apps/code-style as the current link

[2021-08-11 14:20] ztefn commented on #826
Is this ever going to get addressed or will app updates for elementary OS 5 be completely abandoned now elementary OS 6 is out with a complete different (Flatpak) workflow? @danrabbit?

[2021-08-18 22:21] amka opened #831 "Internal error while running"
Right after Odin has been released I packaged my new apps into [flatpak](https://docs.elementary.io/develop/writing-apps/our-first-app/packaging), add the CI process as it [described](https://docs.elementary.io/develop/writing-apps/our-first-app/continuous-integration) in the docs.

- [Frog](https://github.com/TenderOwl/Frog/issues/3)
- [Turtle](https://github.com/TenderOwl/Turtle/issues)

Found 2

[2021-08-18 23:03] btkostner commented on #831
This houston repository is for the old deb based dashboard. The error you are describing sounds like you used this dashboard for a new flatpak app designed for Odin.

The new dashboard interface is not yet complete, but if you want to submit your app, you can make a PR against [the reviews repository](https://github.com/elementary/appcenter-reviews) similar to the [other open PRs](https://github.c

[2021-08-18 23:03] #831 closed

[2021-08-18 23:07] btkostner commented on #831
Frog: https://github.com/elementary/appcenter-reviews/pull/82

[2021-08-18 23:12] btkostner commented on #831
Turtle: https://github.com/elementary/appcenter-reviews/pull/83

[2021-08-18 23:25] amka commented on #831
Ah, thank you! I didn't find out that info, maybe we need to add it to the dev. docs? Probably as a temporary notice but visible for anyone

[2021-08-19 02:47] athulmessi commented on #831
I loved elementary OS but I can't install Linux os on my Acer aspire ES 15
533 laptop

..............................................................................
My laptop is Acer aspire ES1 ES1-533 it's a Windows default system can't
install non Windows bootloader every single time I tried install Linux os I
try to install elementary , manjaro , elementary all time system freeze at
installing

[2021-08-19 16:35] bluesabre opened #832 "com.github.bluesabre.darkbar project does not have payments enabled"
## What Happened

I've configured com.github.bluesabre.darkbar to accept Stripe payments, but it fails on every attempt with the error "com.github.bluesabre.darkbar project does not have payments enabled". This is my first app and it is not available for Hera, so it might be a missing some configuration that would normally be completed on the AppCenter dashboard.

## Expected Behavior

Submitting

[2021-08-22 23:02] JeysonFlores opened #833 "AppCenter Dashboard fails testing my app and doesn't give any information"
Hello, I submitted an app in the AppCenter Dashboard. When I submit it, it fails automatically and the issue the bot opened on my app's repo gives no information about nothing. You can see it [here](https://github.com/JeysonFlores/hasher/issues/2)

![image](https://user-images.githubusercontent.com/68255757/130372745-be4ee82f-d922-4bce-8796-e3b0b97072c1.png)

What am I supposed to fix?

Sorry, I c

[2021-08-22 23:05] #833 closed

[2021-08-22 23:06] JeysonFlores commented on #833
Sorry I chose the wrong repo xd

[2021-08-25 14:33] aral commented on #436
Just want to chime in here both in the context of [this discussion on trademark violation regarding the use of com.github in app names](https://github.com/elementary/appcenter/discussions/1622) but also more in general based on the points raised by @stuartlangridge several years ago.

In addition to agreeing with Stuart’s points and the trademark issue, there’s another big problem with tying all t

[2021-08-25 16:31] btkostner commented on #436
While the documentation says to use the GitHub RDNN the new review process has no tie to GitHub or the GitHub based RDNN. The repository in appcenter-reviews can be any valid public git repository, as can the RDNN. At this time I don't believe anyone has published something outside of the default values, but it is possible. It was designed this was to avoid GitHub restrictions and so we can eventu

[2021-11-20 13:22] #837 closed

[2021-12-02 23:01] #822 closed

[2021-12-09 13:48] 4jNsY6fCVqZv commented on #776
Closing in favor of https://github.com/elementary/houston/issues/797

[2021-12-09 13:48] #776 closed

[2021-12-09 13:50] 4jNsY6fCVqZv commented on #797
Should this issue be transferred to https://github.com/elementary/appcenter-dashboard?

[2021-12-09 13:56] 4jNsY6fCVqZv commented on #797
@jalcine Could you imagine continuing your work on it?

[2021-12-09 13:58] 4jNsY6fCVqZv commented on #797
@jalcine Could you imagine continuing your work on this now that AppCenter Dashboard exists?

[2021-12-20 20:10] danirabbit commented on #582
Closing since we get Flatpak bundles now in CI

[2021-12-20 20:10] #582 closed

[2021-12-20 20:19] danirabbit commented on #625
This is now done yay

[2021-12-20 20:19] #625 closed

[2022-09-18 12:01] bluesabre commented on #832
This has been resolved.

[2022-09-18 12:01] #832 closed